.welcome-card ion-img {
  max-height: 35vh;
  background-color: blue;
  overflow: hidden;
}

.page{
  padding-top: 1%;
  padding-bottom: 1%;
  background: url('src/assets/img/bg.png') center center no-repeat;
  background-size: cover;
  min-height:100%;
  width: auto;
}
    
.card-background-page {
  ion-card {
    position: relative;
    text-align: center;
    margin-bottom: 2%;
  }

  .overlay {
      background-color: black;
  }

  .overlay img {
      opacity: 0.8;
  }

  .card-title {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    color: #fff;
    font-family: 'Poppins-Light';
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #fff;
  }
}
