<ion-header no-border>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-img src="../../assets/img/search_icon.png" style="max-width: 5%;height: auto; float:left;"></ion-img>
    <ion-img src="../../assets/img/housal_logo.png" style="float:right; max-width: 10%; height: auto;"></ion-img>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="page">
    <div class="card-background-page">
      <ion-card class="overlay">
        <img src="../../assets/img/features_listing.png">
        <div class="card-title">FEATURED LISTINGS</div>
      </ion-card>
      <ion-card class="overlay">
        <img src="../../assets/img/for_sale.png">
        <div class="card-title">FOR SALE</div>
      </ion-card>
      <ion-card class="overlay">
        <img src="../../assets/img/for_rent.png">
        <div class="card-title">FOR RENT</div>
      </ion-card>
    </div>
  </div>
</ion-content>